*.zip
*.eot
*.svg
color.jpeg
קשישי.jpeg
אנגולה.jpeg
settings.local.json
create_presentations.py
fonts/specimen_files/
fonts/miriwin-demo.html
fonts/generator_config.txt
fonts/CHANGES.txt
fonts/fontlog.txt
fonts/stylesheet.css
fonts/hillel/__MACOSX/
.vercel
